<nav>
    <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>"> Home </a>
    <a href="/nasa" class="<%= currentPage === 'nasa' ? 'active' : '' %>"> NASA APOD </a>
    <a href="/mercury" class="<%= currentPage === 'mercury' ? 'active' : '' %>"> Mercury </a>
    <a href="/venus" class="<%= currentPage === 'venus' ? 'active' : '' %>"> Venus </a>
    <a href="/earth" class="<%= currentPage === 'earth' ? 'active' : '' %>"> Earth </a>
    <a href="/mars" class="<%= currentPage === 'mars' ? 'active' : '' %>"> Mars </a>
    <a href="/jupiter" class="<%= currentPage === 'jupiter' ? 'active' : '' %>"> Jupiter </a>
    <a href="/saturn" class="<%= currentPage === 'saturn' ? 'active' : '' %>"> Saturn </a>
    <a href="/uranus" class="<%= currentPage === 'uranus' ? 'active' : '' %>"> Uranus </a>
    <a href="/neptune" class="<%= currentPage === 'neptune' ? 'active' : '' %>"> Neptune </a>
    <a href="/pluto" class="<%= currentPage === 'pluto' ? 'active' : '' %>"> Pluto </a>
    <br>
</nav>
