<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Mars</h2>
    <div class="planet-info">
        <p><strong>Description:</strong> <%= planetMars.description %></p>
        <p><strong>Distance from Sun:</strong> <%= planetMars.distanceFromSun %></p>
        <p><strong>Year Length:</strong> <%= planetMars.yearLength %></p>
        <p><strong>One Mars Day:</strong> <%= planetMars.oneEarthDay %></p>
        <p><strong>Radius:</strong> <%= planetMars.radius %> miles</p>
        <p><strong>Moons:</strong> <%= planetMars.moons %></p>
        <p><strong>More Info:</strong> <a href="<%= planetMars.websiteLink %>" target="_blank">NASA Website</a></p>
        <img src="<%= planetMars.image %>">
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>
