<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>NASA Astronomy Picture of the Day</h2>
    <div class="planet-info">
        <h3><%= apod.title %></h3>
        <p><strong>Date:</strong> <%= apod.date %></p>
        <p><strong>Description:</strong> <%= apod.explanation %></p>
        <% if (apod.copyright) { %>
            <p><strong>Copyright:</strong> <%= apod.copyright %></p>
        <% } %>
        <img src="<%= apod.hdurl || apod.url %>" alt="<%= apod.title %>">
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>
