<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Uranus</h2>
    <div class="planet-info">
        <p><strong>Description:</strong> <%= planetUranus.description %></p>
        <p><strong>Distance from Sun:</strong> <%= planetUranus.distanceFromSun %></p>
        <p><strong>Year Length:</strong> <%= planetUranus.yearLength %></p>
        <p><strong>One Uranus Day:</strong> <%= planetUranus.oneEarthDay %></p>
        <p><strong>Radius:</strong> <%= planetUranus.radius %> miles</p>
        <p><strong>Moons:</strong> <%= planetUranus.moons %></p>
        <p><strong>More Info:</strong> <a href="<%= planetUranus.websiteLink %>" target="_blank">NASA Website</a></p>
        <img src="<%= planetUranus.image %>">
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>
